html{

}
body{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Playfair Display', serif;
    color: black;
}
header{
    height: 100%;
    width: 100%;


}.menu{
    width: 100%;
    padding: 20px 30px 20px 10px;
    position: fixed;
    z-index: 1;
    background-color: rgb(255, 255, 255);
   
}
.menu a{
    color: black;
}
a:hover{
    color:rgb(255, 196, 0);
}

.accueille{
    padding-right: 400px;
    font-size: 25px;
    font-weight: bold;
}
.qui-suis-je{
    width: 100%;
    background-image: url(../img/lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
}
.moi-droit{
    background-color: rgba(255, 255, 255, 0.336);
    color: black;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 118px 0 118px 0;

}
.moi-droit h1{
font-size: 70px;
padding-top: 80px;
text-transform: uppercase;
}
 #qui-suis-je{
    padding: 90px 0 90px 0;
    margin: 0 200px 0 200px;
    text-align: center;
}
.intro-moi p{
    padding: 20px 0 20px;
}
.photo-moi{
display: flex;
margin-left: auto;
margin-right: auto;

}
.img-fluid{
border-radius: 700px;

}
.text-moi{
    padding-top: 20px;
}
#experiences{
    padding: 90px 0 90px 0;
    background-color: black;
    color: white;
    text-align: center;
}
.intro-experiences p{
    padding: 20px 0 20px;
}

.les-postes{
    margin-bottom: 20px;
}
.annee-job{
    text-transform: uppercase;
    font-size: larger;
    width: 20%;
    margin-right: 50px;
}
.info-job{
    text-align: left;
}
#scolarites{
    padding: 90px 0 90px 0;
    text-align: center;

}
.intro-scolarites p{
    padding: 20px 0 20px;
}
.etudes{
    padding-bottom: 40px;
    margin-bottom:20px;
    width:  auto;
    border:2px solid black;

}
.niveau-etablissements{
    text-transform: uppercase;
}

#competences{
    background-color: black;
    color: white;
    text-align: center;
    padding: 90px 0 90px 0;
}
.intro-competences p{
    padding: 20px 0 20px;
}
#competences img{
    height: 96px;
    width: 96px;
}
.mysql{
    background-color: white;
    color: white;
}


.savoir-etre{
    padding-top: 40px;
    text-transform: uppercase;

}
#citation{
    height: 400px;
    text-align: center;

}
.text-citation{
    padding-top: 100px;
    font-size: 25px;
}
.text-citation p{
    padding-top: 10px;
    font-style: italic;
    font-size: 15px;
}

#contact{
    padding: 90px 0 90px 0;
    text-align: center;
    background-color: black;
}
.coordonnee{
    padding-top: 150px;
    background-color: white;
    text-align: center;
    font-size: larger;
}
.coordonnee h2{
    font-size: 50px;
    text-transform: uppercase;
}
.photo-contact{
    background-image: url(../img/alexander-andrews-HgUDpaGPTEA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.intro-moi, .intro-experiences, .intro-scolarites, .intro-competences{
    text-transform: uppercase;
}
.image-separation-1{
    background-image: url(../img/clavier-noir.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    width: auto;
}

footer{
    text-align: center;
}

@media screen and (max-width : 427px){

    .menu{
        width: 100%;
        padding: 20px 100px 20px 10px;
        position: fixed;
        z-index: 1;
        background-color: rgb(255, 255, 255);
       
    }
    .accueille{
        padding-right: 20px;
        font-size: 25px;
        font-weight: bold;
    }

    .qui-suis-je{
        width: 100%;
        background-image: url(/src/img/lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 700px;
    }
    .moi-droit{
        background-color: rgba(255, 255, 255, 0.336);
        color: black;
        height: auto;
        width: 100%;
        text-align: center;
        padding: 200px 20px 200px 0;
    
    }
    .moi-droit h1{
    font-size: 40px;
    padding-top: 80px;
    text-transform: uppercase;
    }
    #qui-suis-je{
        padding: 90px 0 90px 0;
        margin: 0 100px 0 100px;
        text-align: center;
    }
    .annee-job{

        margin-left: 10px;
        margin-right: 70px;
    }
    .info-job{
        text-align: left;
    }
    .image-separation-1{
        background-image: url(/src/img/clavier-noir.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 150px;
        width: auto;
    }
    
}